{% extends 'base.html.twig' %}

{% block body%}
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
    <h2>les colis a transporter</h2>

        <section class="articles">
            <article>
                <h4>Ayad</h4>
            </article>
        </section>
{% endblock %}