{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/body.css') }}">
    <!--
    <div class="container" id="pageAccueil">
       <h2>Comment Ca Marche ?</h2>
        <h3>Vous voulez transporter ou expédier un colis ?</h3>
        <h5>Pour en savoir un peux plus<br/>
            Cliquez sur l'une des rubriques ci-dessous</h5>
        <div class="row">
            <div class="col-md-6">
                <h5 type="button" class="btn btn-outline-success" id="btnAccueil">Transporter</h5>
                <p>Indiquez la date, la destination et l'horaire de votre voyage, puis la
                    quantité et poids du colis que vous consentez à transporter.</p>
                <div class="d-flex justify-content-center h-400">
                    <div class="searchbar">
                        <input class="search_input" type="text" name=""
                               placeholder="">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h5 type="button" class="btn btn-outline-success" id="btnAccueil">Déposer</h5>
            </div>
        </div>
    </div> -->
{% endblock %}